.control-panel {
    color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


}
.bomb-icon-control-panel {
    width: 16px;
    height: 16px;
}
.happy-icon {
    width: 16px;
    height: 16px;
}
.happy-button {
    background-color: #212121;
    border: none;
}
